body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.button0 {
    background: url(/images/0.png) no-repeat;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: none;
}

.button1 {
    background: url(Images/new1.png) no-repeat;
    background-position: center;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: none;
}

.button2 {
    background: url(Images/new2.png) no-repeat;
    background-position: center;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: none;
}

.button3 {
    background: url(Images/new3.png) no-repeat;
    background-position: center;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: none;
}

.button4 {
    background: url(Images/new4.png) no-repeat;
    background-position: center;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: none;
}

.button5 {
    background: url(Images/new5.png) no-repeat;
    background-position: center;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: none;
}

.Info1 {
    width: 80%;
    background-color:darkgrey;
    color:black;
    border-radius: 15px 50px 15px 5px;
    font-family:'Comic Sans MS';
    font-size:30px;      
}
.BackGround{
    color:darkgray
}

.Info2 {
    width: 50%;
    background-color: darkgrey;
    color: black;
    border-radius: 15px 50px 15px 5px;
    font-family: 'Comic Sans MS';
    font-size: 30px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .card {
        padding-top: 20px;
        margin: 10px 0 20px 0;
        background-color: rgba(214, 224, 226, 0.2);
        border-top-width: 0;
        border-bottom-width: 2px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .card .card-heading {
            padding: 0 20px;
            margin: 0;
        }

            .card .card-heading.simple {
                font-size: 20px;
                font-weight: 300;
                color: #777;
                border-bottom: 1px solid #e5e5e5;
            }

            .card .card-heading.image img {
                display: inline-block;
                width: 46px;
                height: 46px;
                margin-right: 15px;
                vertical-align: top;
                border: 0;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }

            .card .card-heading.image .card-heading-header {
                display: inline-block;
                vertical-align: top;
            }

                .card .card-heading.image .card-heading-header h3 {
                    margin: 0;
                    font-size: 14px;
                    line-height: 16px;
                    color: #262626;
                }

                .card .card-heading.image .card-heading-header span {
                    font-size: 12px;
                    color: #999999;
                }

        .card .card-body {
            padding: 0 20px;
            margin-top: 20px;
        }

        .card .card-media {
            padding: 0 20px;
            margin: 0 -14px;
        }

            .card .card-media img {
                max-width: 100%;
                max-height: 100%;
            }

        .card .card-actions {
            min-height: 30px;
            padding: 0 20px 20px 20px;
            margin: 20px 0 0 0;
        }

        .card .card-comments {
            padding: 20px;
            margin: 0;
            background-color: #f8f8f8;
        }

            .card .card-comments .comments-collapse-toggle {
                padding: 0;
                margin: 0 20px 12px 20px;
            }

                .card .card-comments .comments-collapse-toggle a,
                .card .card-comments .comments-collapse-toggle span {
                    padding-right: 5px;
                    overflow: hidden;
                    font-size: 12px;
                    color: #999;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

    .card-comments .media-heading {
        font-size: 13px;
        font-weight: bold;
    }

    .card.people {
        position: relative;
        display: inline-block;
        width: 170px;
        height: 300px;
        padding-top: 0;
        margin-left: 20px;
        overflow: hidden;
        vertical-align: top;
    }

        .card.people:first-child {
            margin-left: 0;
        }

        .card.people .card-top {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 170px;
            height: 150px;
            background-color: #ffffff;
        }

            .card.people .card-top.green {
                background-color: #53a93f;
            }

            .card.people .card-top.blue {
                background-color: #427fed;
            }

        .card.people .card-info {
            position: absolute;
            top: 150px;
            display: inline-block;
            width: 100%;
            height: 101px;
            overflow: hidden;
            background: #ffffff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

            .card.people .card-info .title {
                display: block;
                margin: 8px 14px 0 14px;
                overflow: hidden;
                font-size: 16px;
                font-weight: bold;
                line-height: 18px;
                color: #404040;
            }

            .card.people .card-info .desc {
                display: block;
                margin: 8px 14px 0 14px;
                overflow: hidden;
                font-size: 12px;
                line-height: 16px;
                color: #737373;
                text-overflow: ellipsis;
            }

        .card.people .card-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            padding: 10px 20px;
            line-height: 29px;
            text-align: center;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    .card.hovercard {
        position: relative;
        padding-top: 0;
        overflow: hidden;
        text-align: center;
        background-color: rgba(214, 224, 226, 0.2);
    }

        .card.hovercard .cardheader {
            /*background-image: url(Images/mikegbanner.jpg);
            background-size: contain;
            height: 135px;*/    
        }

        .card.hovercard .avatar {
            position: relative;
            top: -50px;
            margin-bottom: -50px;
        }

            .card.hovercard .avatar img {
                width: 100px;
                height: 100px;
                max-width: 100px;
                max-height: 100px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border: 5px solid rgba(255,255,255,0.5);
            }

        .card.hovercard .info {
            padding: 4px 8px 10px;
        }

            .card.hovercard .info .title {
                margin-bottom: 4px;
                font-size: 24px;
                line-height: 1;
                color: #262626;
                vertical-align: middle;
            }

            .card.hovercard .info .desc {
                overflow: hidden;
                font-size: 12px;
                line-height: 20px;
                color: #737373;
                text-overflow: ellipsis;
            }

        .card.hovercard .bottom {
            padding: 0 20px;
            margin-bottom: 17px;
        }


.ibtn {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    line-height: 18px;
}
   



.btn-default {
    background-image: linear-gradient(#6d7070, #474949 50%, #3d3f3f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d7070', endColorstr='#ff3d3f3f', GradientType=0);
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: none;
    border: 1px solid #2e2f2f
}

    .btn-default:hover {
        background-image: linear-gradient(#636565, #3d3f3f 50%, #333434);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff636565', endColorstr='#ff333434', GradientType=0);
        background-repeat: no-repeat;
        -webkit-filter: none;
        filter: none;
        border: 1px solid #242525
    }

.btn-primary {
    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d94bf', endColorstr='#ff3e648d', GradientType=0);
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: none;
    border: 1px solid #345578
}

    .btn-primary:hover {
        background-image: linear-gradient(#5f8ab9, #3e648d 50%, #385a7f);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f8ab9', endColorstr='#ff385a7f', GradientType=0);
        background-repeat: no-repeat;
        -webkit-filter: none;
        filter: none;
        border: 1px solid #2e4b69
    }

.btn-success {
    background-image: linear-gradient(#61dd45, #3cb521 50%, #36a41e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff61dd45', endColorstr='#ff36a41e', GradientType=0);
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: none;
    border: 1px solid #2e8a19
}

    .btn-success:hover {
        background-image: linear-gradient(#52da34, #36a41e 50%, #31921b);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff52da34', endColorstr='#ff31921b', GradientType=0);
        background-repeat: no-repeat;
        -webkit-filter: none;
        filter: none;
        border: 1px solid #287916
    }

.btn-info {
    background-image: linear-gradient(#7bbdf7, #3399f3 50%, #208ff2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7bbdf7', endColorstr='#ff208ff2', GradientType=0);
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: none;
    border: 1px solid #0e80e5
}

    .btn-info:hover {
        background-image: linear-gradient(#68b3f6, #208ff2 50%, #0e86ef);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff68b3f6', endColorstr='#ff0e86ef', GradientType=0);
        background-repeat: no-repeat;
        -webkit-filter: none;
        filter: none;
        border: 1px solid #0c75d2
    }

.btn-warning {
    background-image: linear-gradient(#ff9c21, #d47500 50%, #c06a00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9c21', endColorstr='#ffc06a00', GradientType=0);
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: none;
    border: 1px solid #a15900
}

    .btn-warning:hover {
        background-image: linear-gradient(#ff930d, #c06a00 50%, #ab5e00);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff930d', endColorstr='#ffab5e00', GradientType=0);
        background-repeat: no-repeat;
        -webkit-filter: none;
        filter: none;
        border: 1px solid #8d4e00
    }

.btn-danger {
    background-image: linear-gradient(#ff1d1b, #cd0200 50%, #b90200);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff1d1b', endColorstr='#ffb90200', GradientType=0);
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: none;
    border: 1px solid #9a0200
}

    .btn-danger:hover {
        background-image: linear-gradient(#ff0906, #b90200 50%, #a40200);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff0906', endColorstr='#ffa40200', GradientType=0);
        background-repeat: no-repeat;
        -webkit-filter: none;
        filter: none;
        border: 1px solid #860100
    }

