body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.button0 {
    background: url(/images/0.png) no-repeat;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border: none;
}

.button1 {
    background: url(/images/1.png) no-repeat;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border: none;
}

.button2 {
    background: url(/images/2.png) no-repeat;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border: none;
}

.button3 {
    background: url(/images/3.png) no-repeat;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border: none;
}

.button4 {
    background: url(/images/4.png) no-repeat;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border: none;
}

.button5 {
    background: url(/images/5.png) no-repeat;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border: none;
}

.Info1 {
    width: 80%;
    background-color:darkgrey;
    color:black;
    border-radius: 15px 50px 15px 5px;
    font-family:'Comic Sans MS';
    font-size:30px;      
}
.BackGround{
    color:darkgray
}

.Info2 {
    width: 50%;
    background-color: darkgrey;
    color: black;
    border-radius: 15px 50px 15px 5px;
    font-family: 'Comic Sans MS';
    font-size: 30px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*img {
    width: 100%;
    max-width: 500px;
}*/