@model IEnumerable<groupCapstoneMusic.Models.Customer>
<h2>CustRating Partial View Test - If This Shows, The Partial View Is Working</h2>
<img src="~/images/5.png" alt="Star Rating" align="middle" id="1" class="rating" />

