@model IEnumerable<groupCapstoneMusic.Models.Musician>
<h2>Musician Quality Rating - Please Rate</h2>

<button class="button0" type="button" onclick="mRate0()">Rate 0 Stars</button>
<br />
<button class="button1" type="button" onclick="mRate1()">Rate 1 Stars</button>
<br />
<button class="button2" type="button" onclick="mRate2()">Rate 2 Stars</button>
<br />
<button class="button3" type="button" onclick="mRate3()">Rate 3 Stars</button>
<br />
<button class="button4" type="button" onclick="mRate4()">Rate 4 Stars</button>
<br />
<button class="button5" type="button" onclick="mRate5()">Rate 5 Stars</button>

@*<script src="ecssr.js" type="application/javascript"></script>*@