@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@{ Html.RenderPartial("_MusiRating"); } @*code to pull partialview w/ Rating for musician*@
@{ Html.RenderPartial("_CustRating"); } @*code to pull partialview w/ Rating for Customer*@
