@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding-right: 200px; padding-left: 200px;">
    <img src="~/Content/Images/band.jpg" style="width:100%; opacity:0.3;" />
    <div>
        <h1>Welcome to ♫Book!</h1>
        <p>
            Are you ready to spread your talent
            ? Or are you on the search for the next best thing?
            Register above now and let ♫Book help you reach your goal!
        </p>
    </div>
    <p><a class="btn btn-success" @Html.ActionLink("Who we are", "WhoWeAre")</a></p>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Schedule Concerts!</h2>
        </div>
        <div class="panel-body">
            ♫Book can help you communicate with your Musician
            or "Customer" to make sure both sides
            can come to an agreement fast and easily!
        </div>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Use our integrated messaging system!</h2>
        </div>
        <div class="panel-body">
            >No need to go out and waste precious time getting
            Phone numbers or emails! Contact directly through the
            app and avoid sending out information.
        </div>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Update your Professional Profile!</h2>
        </div>
        <div class="panel-body">
            As a "customer" or Musician, you can build a
            profile and show off what you have to offer. Wether
            that be how many concerts you have available and how
            beautiful your venues are or how many concerts you've
            sold out and how beautiful your performances were,
            MAKE IT BE KNOWN!
        </div>
        <p><a class="btn btn-info" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@*@{ Html.RenderPartial("_CustRating"); }
    @{ Html.RenderPartial("_MusiRating"); }*@

