@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Welcome to DontKnow!</h1>
    <p class="lead">Are you ready to spread your talent? Or are you on the search for the next best thing? Register above now and let DontKnow help you reach your goal!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Who we are&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Schedule Concerts!</h2>
        <p class="info1">
            "DontKnow" can help you communicate with your Musician or "Customer" to make sure both sides 
            can come to an agreement fast and easily!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@*@{ Html.RenderPartial("_CustRating"); }
@{ Html.RenderPartial("_MusiRating"); }*@

