@{
    ViewBag.Title = "WhoWeAre";
}

<h2 class="Info1">Meet The Team</h2>

<div class="jumbotron">
    <h1>Erinn Neidinger</h1>
    <img src="~/Content/Images/Neidinger.jpg" alt="Adam Nobs" />
    <p class="lead"></p>
    <p>With software development, I am not just looking for a job. I am seeking a profession where I can contribute to my workplace and my community, and continue to learn along the way.</p>
    <p>Coming from a completely different background by graduating with a degree in Psychology and almost no experience in Computer Science, I realized how beneficial it is to have technical skills that you can sharpen and share. I have been looking for a career where I can use my problem solving skills and creativity to help others, and I truely believe I have found what I've been looking for. Job satisfaction is the key to an enjoyable life, and for the first time in a while, I am excited to see what the future holds!</p>
</div>


<ul class="pagination pagination-lg">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="~/Views/Home/WhoWeAre.cshtml">Adam M.</a></li>
    <li><a href="~/Views/Home/WhoWeAre2.cshtml">Erinn N.</a></li>
    <li><a href="~/Views/Home/WhoWeAre3.cshtml">Adam N.</a></li>
    <li><a href="~/Views/Home/WhoWeAre4.cshtml">Mike G.</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>