@{
    ViewBag.Title = "WhoWeAre";
}

<h2 class="Info1">Meet The Team</h2>


<div class="jumbotron">
    <h1>Adam Milbrath</h1>
    <img src="~/Content/Images/Milbrath.jpg" alt="Adam Milbrath" />
    <p class="lead">Owner/Founder of Neighborhood Nerd LLC and Full-Stack Software Developer Student at devCodeCamp</p>
    <p>
        Being a life-long musician and managing multiple retail locations for Sprint and T-Mobile has provided me extensive experience in leadership and problem solving; solidified the importance of teamwork, keeping a positive attitude, and working with commitment to a shared cause. I have demonstrated these skills through the hiring and training of new employees, continual coaching to hit and exceed goals, and years of mastering the art of practice through music and drum core.
        My goal is to combine my creativity, love for technology, and skills in collaboration and problem solving to develop software that contributes to a better world. Ultimately, a goal to pave a path towards my personal career success… not only financially, but by doing things I love with like minded people that I enjoy being with. Isn’t that what life is all about?
    </p>
</div>
<br />
<div class="jumbotron">
    <h1>Adam Nobs</h1>
    <img src="~/Content/Images/Nobs.jpg" alt="Adam Nobs" />
    <p class="lead">Full-Stack Developer and Experienced Manager.</p>
    <p>
        Since I can remember I have always had the drive and curiosity for creation. Whether it was building skyscrapers out of my newest Lego set as a kid, or having the urge to take apart whatever electronics I could get my hands on, examine, and use my ability to put it back together knowing what components went into making it run. This sense of curiosity has followed me throughout life and helped me acquire the needed tools to become a Full-Stack Developer. To me, having the ability to build and create a program from scratch not only gives me a sense a self-pride, but a sense of self-worth knowing it will have a positive impact no matter the audience.
    </p>
</div>
<br />
<div class="jumbotron">
    <h1>Erin Neidinger</h1>
    <img src="~/Content/Images/Neidinger.jpg" alt="Adam Nobs" />
    <p class="lead">I'm Mom</p>
    <p>Ski-Patrol for daysssssssss</p>
</div>
<br />
<div class="jumbotron">
    <h1>Michael Gonzalez Jr.</h1>
    <img src="~/Content/Images/Gonzalez.jpg" alt="Michael Gonzales Jr" />
    <p class="lead">Inspiring Full Stack developer, learning HTML, CSS, C# and Python</p>
    <p>"Just because plan A failed doesn't mean you quit. Get the hell up, there are 26 letter's in the alphabet."</p>
</div>
