@{
    ViewBag.Title = "WhoWeAre";
}

<h2 class="Info1">Meet The Team</h2>

<div class="jumbotron">
    <h1>Michael Gonzalez Jr.</h1>
    <img src="~/Content/Images/jColeorMichael.jpg" alt="Michael Gonzales Jr" />
    <p class="lead">#Rick-Rollin</p>
    <p>more info here</p>
</div>

<ul class="pagination pagination-lg">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="~/Views/Home/WhoWeAre.cshtml">Adam M.</a></li>
    <li><a href="~/Views/Home/WhoWeAre2.cshtml">Erinn N.</a></li>
    <li><a href="~/Views/Home/WhoWeAre3.cshtml">Adam N.</a></li>
    <li><a href="~/Views/Home/WhoWeAre4.cshtml">Mike G.</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>