@{
    ViewBag.Title = "WhoWeAre";
}

<h2 class="Info1">Meet The Team</h2>


<div class="jumbotron">
    <h1>Adam Nobs</h1>
    <img src="~/Content/Images/Nobs.jpg" alt="Adam Nobs" />
    <p class="lead">Full-Stack Developer and Experienced Manager.</p>
    <p>
        Since I can remember I have always had the drive and curiosity for creation. Whether it was building skyscrapers out of my newest Lego set as a kid, or having the urge to take apart whatever electronics I could get my hands on, examine, and use my ability to put it back together knowing what components went into making it run. This sense of curiosity has followed me throughout life and helped me acquire the needed tools to become a Full-Stack Developer. To me, having the ability to build and create a program from scratch not only gives me a sense a self-pride, but a sense of self-worth knowing it will have a positive impact no matter the audience.
    </p>
</div>


<ul class="pagination pagination-lg">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="~/Views/Home/WhoWeAre.cshtml">Adam M.</a></li>
    <li><a href="~/Views/Home/WhoWeAre2.cshtml">Erinn N.</a></li>
    <li><a href="~/Views/Home/WhoWeAre3.cshtml">Adam N.</a></li>
    <li><a href="~/Views/Home/WhoWeAre4.cshtml">Mike G.</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>