@{
    ViewBag.Title = "WhoWeAre";
}

<h2>WhoWeAre</h2>


<div class="jumbotron">
    <h1>Adam Milbrath</h1>
    <img src="images/Milbrath.jpg" alt="Adam Milbrath" />
    <p class="lead">enter mini bio here</p>
    <p>more info here</p>
</div>
<br />
<div class="jumbotron">
    <h1>Adam Nobs</h1>
    <img src="images/Nobs.jpg" alt="Adam Nobs" />
    <p class="lead">enter mini bio here</p>
    <p>more info here</p>
</div>
<br />
<div class="jumbotron">
    <h1>Erin Neidinger</h1>
    <p class="lead">enter mini bio here</p>
    <p>more info here</p>
</div>
<br />
<div class="jumbotron">
    <h1>Michael Gonzalez Jr.</h1>
    <p class="lead">enter mini bio here</p>
    <p>more info here</p>
</div>
