@{
    ViewBag.Title = "WhoWeAre";
}

<h2 class="Info1">Meet The Team</h2>


<div class="jumbotron">
    <h1>Adam Milbrath</h1>
    <img src="~/Content/Images/Milbrath.jpg" alt="Adam Milbrath" />
    <p class="lead">Owner/Founder of Neighborhood Nerd LLC and Full-Stack Software Developer Student at devCodeCamp</p>
    <p>
        Being a life-long musician and managing multiple retail locations for Sprint and T-Mobile has provided me extensive experience in leadership and problem solving; solidified the importance of teamwork, keeping a positive attitude, and working with commitment to a shared cause. I have demonstrated these skills through the hiring and training of new employees, continual coaching to hit and exceed goals, and years of mastering the art of practice through music and drum core.
        My goal is to combine my creativity, love for technology, and skills in collaboration and problem solving to develop software that contributes to a better world. Ultimately, a goal to pave a path towards my personal career success… not only financially, but by doing things I love with like minded people that I enjoy being with. Isn’t that what life is all about?
    </p>
</div>


<ul class="pagination pagination-lg">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="~/Views/Home/WhoWeAre.cshtml">Adam M.</a></li>
    <li><a href="~/Views/Home/WhoWeAre2.cshtml">Erinn N.</a></li>
    <li><a href="~/Views/Home/WhoWeAre3.cshtml">Adam N.</a></li>
    <li><a href="~/Views/Home/WhoWeAre4.cshtml">Mike G.</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>